@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

:root {
  --font-color: #000;
  --gray-color: #707070;
  --green-color: rgb(0, 192, 131);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #fff;
  width: 100vw;
  height: 100vh;
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 0.5px;
}

h1 {
  font-family: 'Paytone One', sans-serif;
}

nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 100px;
}

.title-wrap {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.circle-green {
  background-color: var(--green-color);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  transition: all 0.5 ease;
}

.title-wrap:hover .circle-green {
  background-color: red;
  border-radius: 0;
  transform: scale(0.9);
}

.title-wrap p {
  color: var(--font-color);
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 15px;
}

.nav-link-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-link-wrap a {
  color: #000;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  padding: 0 20px;
}

.nav-link-wrap a:hover {
  color: var(--green-color);
}

.home {
  position: relative;
  width: 800px;
  margin: 200px;
}

.home h1 {
  color: #ff5900;
  font-size: 5rem;
}

.home h2 {
  font-size: 3rem;
  line-height: 60px;
}

.home img {
  position: absolute;
  right: 10%;
  top: 50%;
  width: 100px;
  height: 100px;
  transition: all 1s linear;
  animation: jump 2s infinite;
}

@keyframes jump {
  0% {
    top: 90%;
    transform: scaleY(0.2);
  }

  50% {
    top: 30%;
    transform: scaleY(1);
  }

  100% {
    top: 90%;
    transform: scaleY(0.2);
  }
}

.border {
  border: 1px solid #fc006d;
  width: 100%;
}
